.App {
  text-align: center;
}

.App__header {
  font-size: 2vw;
  font-family: 'Coiny', cursive;
}

.App__main {
  display: flex;
}

body {
  /*background-color: #ffc194;*/
  background-color: #F1ECE4;
}

.App__left {
  width: 50vw;
  height: 50vw;
}

.App__right {
  width: 50vw;
  height: 50vw;
  border-radius: 10px;
  background-color: #B1B8CB;
}

.right__tabe--group {
  background-color: white;
}

#blah2{
  margin: 2em;
}

.left__level__text {
  text-align: left;
  padding-left: 2em;
  margin-right: 2em;
  font-family: 'PT Sans', sans-serif;
  font-size: 1.1em;
}
