.table__container {
    background-color: whitesmoke;
    margin: 2em;
    box-shadow: 0 0 13px -3px #000;
}

.table__header {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-weight: 100;
}

.slide-in {
    animation: slide-in 0.5s;
    -webkit-animation: slide-in 0.5s;
}

@keyframes slide-in {
    0% { transform: translateX(-120%); }
    100% { transform: translateX(0%); }
}

@-webkit-keyframes slide-in {
    0% { -webkit-transform: translateX(-120%); }
    100% { -webkit-transform: translateX(0%); }
}

.slide-out1 {
    animation: slide-out1 1s;
    -webkit-animation: slide-out1 1s;
}

.slide-out2 {
    animation: slide-out2 1s;
    -webkit-animation: slide-out2 1s;
}

@keyframes slide-out1 {
    0% { transform: translateX(0%); }
    50% { transform: translateX(120%); }
    100% { transform: translateX(0%); }
}

@-webkit-keyframes slide-out1 {
    0% { -webkit-transform: translateX(0%); }
    50% { -webkit-transform: translateX(120%); }
    100% { -webkit-transform: translateX(0%); }
}

@keyframes slide-out2 {
    0% { transform: translateX(0%); }
    50% { transform: translateX(120%); }
    100% { transform: translateX(0%); }
}

@-webkit-keyframes slide-out2 {
    0% { -webkit-transform: translateX(0%); }
    50% { -webkit-transform: translateX(120%); }
    100% { -webkit-transform: translateX(0%); }
}